<script setup lang="ts">
import { ref } from 'vue';
import { RouterView } from 'vue-router';

const theme = ref('dark');

function onClick() {
  theme.value = theme.value === 'light' ? 'dark' : 'light';
}
</script>

<template>
  <v-responsive>
    <v-app :theme="theme">
      <v-app-bar>
        <v-spacer></v-spacer>
        <v-btn
          :prepend-icon="theme === 'light' ? 'mdi-weather-sunny' : 'mdi-weather-night'"
          text="Toggle Theme"
          @click="onClick"
        ></v-btn>
      </v-app-bar>
      <v-main class="d-flex justify-center align-center">
        <v-card class="pa-5" height="500" width="500">
          <RouterView />
        </v-card>
      </v-main>
    </v-app>
  </v-responsive>
</template>
